:where(.collapse[data-collapse]) .collapse__toggle {
  width: 100%;
}

.collapse .no-transition {
  -webkit-transition: none;
  transition: none;
}

.collapse-transition .collapse .collapse__toggle-icon,
.collapse.collapse-transition .collapse__toggle-icon {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.collapse-transition .collapse .collapse__section,
.collapse.collapse-transition .collapse__section {
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
}

.collapse__toggle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.collapse__toggle[data-open-text]::before {
  content: attr(data-open-text);
}

.collapse__toggle[data-collapsed='false'][data-close-text]::before {
  content: attr(data-close-text);
}

.collapse__toggle[data-collapsed='false'] .collapse__toggle-icon {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.collapse__toggle-icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.collapse__section {
  --collapsed-height: 0;
  height: var(--collapsed-height);
  overflow: hidden;
}

.collapse__section[data-collapsed='false'] {
  height: auto;
}
